<style type="text/css">
/*dynamic color = #781a28*/
*{ -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;  box-sizing:border-box}

body{ margin:0 auto; font-family:'PT Sans',sans-serif; color:#7f8c8d;   } /* background: url(../images/dkbg.png) repeat;*//*enable image bg*/

.block{display:block; max-width:960px;margin:0 auto;}
.textright{text-align:right}
.givingtools{background:#fff;padding:1px 20px 20px 20px; margin-bottom:20px;}
.none{display:none;}
h1, h2, h3, h4, h5{font-family:'Roboto Slab',serif}
hr{display: block; height: 1px;
    border: 0; border-top: 1px solid #cecfd0;
    margin: 1em 0; padding: 0; }
.cap{text-transform:uppercase;}
.caps{text-transform:uppercase;}
.caps span{display:inline-block; width:15px; height:15px; background:#781a28; margin-right:10px;}
.goal{display:inline-block; margin: 0 10px;}
.goal span{background:#781a28; padding:0px 4px;}

.pure-menu{text-transform:capitalize; background:#ecf0f1;color:#34495e;}
.pure-menu ul{list-style:none;margin-left:0;margin-top:28px; padding-left:0}
.pure-menu li{display:inline-block;}

.admin-nav-menu{text-transform:capitalize; background:#ecf0f1;color:#34495e;}
.admin-nav-menu ul{list-style:none;margin-left:0;margin-top:33px; padding-left:0}
.admin-nav-menu li{display:inline-block;}

#menu-icon{background:#781a28 url(../images/menu-icon.png) center;}

a.giving-tools-logo{display:block; width:330px; margin:0 auto; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
 filter:alpha(opacity=100);  
 -moz-opacity:1;  
 -khtml-opacity:1;  
 opacity:1; }
a.giving-tools-logo img{margin-top:20px;}
a{color:#781a28; text-decoration:underline;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
 filter:alpha(opacity=50);  
 -moz-opacity:0.5;  
 -khtml-opacity:0.5;  
 opacity:0.5; 
}
a:hover{text-decoration:none;}
a.logo{margin-top:24px;}
a.logo, .pure-menu a, .pure-menu a:visited{text-transform:uppercase; display:block;color:#781a28;padding:0px 8px 0px 20px;text-decoration:none;white-space:nowrap}
a.logo:hover, a.logo:focus, .pure-menu a:hover, .pure-menu a:focus, .pure-menu a.nav{background:none;  border:none;  color:#781a28;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1; 
}
.icon-menu{text-transform:capitalize; background:#ecf0f1;color:#781a28;}
.icon-menu ul{list-style:none;}
.icon-menu li{display:inline-block;}
.icon-menu a, .icon a:visited{background:#781a28; text-transform:uppercase; display:block;color:#fff;width:40px;height:40px; text-align:center;line-height:130%;text-decoration:none;white-space:nowrap; font-size:150%; cursor:pointer}
.icon-menu a:hover, .icon-menu a:focus{background:#781a28;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1;   
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-ms-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;  border:none;  color:#fff}

.alignleft{float:left; padding: 10px 20px 20px 0}
.entry-content p{ padding-top:0; }
.float-left{float:left}
.float-right{float:right}
.text-left{text-align:left}
.text-right:{text-align:right;}
.text-centered{text-align:center;}
.clear{clear:both}
.clr{clear:both; height:0px; width:100%;}
.pr{padding-right:20px;}

.active{display:block;}
.minimize{display:none;}

.primary-button{ background:#781a28;  color:#fff}
.primary-button:hover{  
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1; 
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-ms-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
}
a.sal{background:#781a28 url(../images/sal.png) top left no-repeat;
height:27px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
a.sar{background:#781a28 url(../images/sar.png) top right no-repeat;
height:27px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;}
#splash-head{ color:#fff;  margin:0em 0;  line-height:1.2em; font-weight:700}
#splash-head h3{line-height:1.25em;}
.splash .splash-subhead{ color:#999;  font-weight:300;  line-height:1.4em}
.splash .primary-button{ font-size:150%}

.slider{}
.slider p{padding:0 20px; margin:0;}

.slider .slider-button, .slider .slider-button:hover{ position:relative;top:-300px;z-index:2; background:#781a28;  color:#fff; padding:20px; text-decoration:none; font-size:150%; font-weight:700}

.content .content-subhead{text-transform:uppercase;  margin:0px 0 0 -20px;display:inline-block;background:#781a28; color:white; padding:10px 20px;}
.content .content-subhead a{color:white; text-decoration:underline}

.content .content-ribbon{margin-top:20px; padding:0 20px 20px 20px; background:#f9fafb}
.content .content-banner{padding:0px 20px; background:#ecf0f1}
.content .content-banner-2{padding:0px 20px; background:#f9fafb}

#calculator{padding-bottom:20px; background:#ecf0f1; } /*background: url(../images/dkbg.png) repeat;*/
#calculator .content-subhead{margin:0;}

.calculator{text-transform:capitalize; background:#781a28;color:#34495e;}
.calculator ul{list-style:none;margin-left:0; padding-left:0}
.calculator li{display:inline-block;}

.sub{margin-top:-11px;}
.mt, .margin-top{margin-top:20px;}
.mb, .margin-bottom{margin-bottom:20px;}
.mr, .margin-right{margin-right:20px}
.ml, .margin-left{margin-left:20px}

.small{font-size:.75em; line-height:1.25em;}
.sm{font-size:.75em; display:block; line-height:1em !important; padding:0; margin:0}

.ribbon{ background:#eee;  text-align:center;  padding:1.5em;  color:#999}
.ribbon h2{ display:inline;  font-weight:normal}

.pure-control-group.drag{background: url(../images/drag.png) top right no-repeat; background-position: 100% 50%;border-bottom:2px dotted #bdbebf; cursor:move}
.pure-control-group.drag h4{padding:0;margin:0}
.meter { 
	height: 27px;  /* Can be anything */
	position: relative;
	background: #ecf0f1;
	margin:40px 0 20px 0;
}
.meter > div {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #781a28;
}
.meter > div:nth-child(2) {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;

	color:#781a28;
	text-align:right;
}

.white{background:white}

.news img{width:95%;}
.news h4, .news p{width:95%;}

.footer{ background:#781a28; padding:20px; color:#fff; font-size:80%; }
.footer a{color:#fff;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1; }
.footer p{  margin-top: .5em;
margin-right: 0px;
margin-bottom: .5em;
margin-left: 0px;
}
.login{font-family:'Roboto Slab',serif; font-weight:bold;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
filter:alpha(opacity=50);  
-moz-opacity:.5;  
-khtml-opacity:.5;  
opacity:.5; text-decoration:none; font-weight:normal; height:26px; display:inline-block; }
.login a, .login a:hover{text-decoration:none;}
.login span{vertical-align:middle;}
.login img{vertical-align:middle;}

.pure-form input.text{font-size:130%}
.pure-form ul{list-style:none; padding:0; margin:0;}
.pure-form li{margin:0; padding:0 0 5px 0}
.pure-form .pure-button{color:fff}
.pure-form textarea{font-family:'PT Sans',sans-serif;}

.admin-menu a{background:#781a28;display:inline-block; padding-top:45px;width:110px; height:65px; color:#fff; font-size:80%; text-decoration:none; font-weight:bold; line-height:1.25em; text-align:center; margin:0 10px 20px 0;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1; 
}
.admin-menu a.new{background:#781a28 url(../images/new.png) top right no-repeat;}
.admin-menu a.inc{background:#781a28 url(../images/inc.png) top right no-repeat;}
.admin-menu a.com{background:#781a28 url(../images/com.png) top right no-repeat;}

.admin-menu a.gray{background:#c7c7c7 url(../images/lar.png) top right no-repeat;}
.admin-menu a.gray span{margin-left:-12px;}

.admin-nav-menu ul{margin:0px; padding:21px 0 20px 0}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------------------------

        Name: Full Width Slider 2.0
        Design and Develpment: eightyclouds
        Author URI: http://www.eightyclouds.com
        Version: 1.0

--------------------------------------------------------------------------*/

#fwslider{    position:relative;     background:#fff;     width:100%; max-height:611px; overflow:hidden; margin-top:19px}
#fwslider .slider_container{}
#fwslider .slide{    display:none;     position:absolute;     top:0;     left:0;     z-index:0;     width:100%; cursor:pointer; max-height:590px}
#fwslider .slide img{    width:100%}
#fwslider .slidePrev{    background:#781a28;     width:40px;     height:40px;     position:absolute;     top:50%;     left:-40px; z-index:10;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
filter:alpha(opacity=50);  
-moz-opacity:0.5;  
-khtml-opacity:0.5;  
opacity:0.5; }
#fwslider .slidePrev span{    background-image:url("../images/left_arrow.png");     width:40px;     height:40px;     float:left;     background-position:50% 50%;     background-repeat:no-repeat;     cursor:pointer}
#fwslider .slideNext{    background:#781a28;     width:40px;     height:40px;     position:absolute;     top:50%;     right:-50px; z-index:10;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
filter:alpha(opacity=50);  
-moz-opacity:0.5;  
-khtml-opacity:0.5;  
opacity:0.5;}
#fwslider .slideNext span{    background-image:url("../images/right_arrow.png");  width:40px;  height:40px;  float:left;  background-position:50% 50%;  background-repeat:no-repeat;  cursor:pointer}
#fwslider .timers{display:none;}/* height:4px;  position:absolute;  bottom:15px;  right:0;  z-index:3*/
#fwslider .timer{ height:4px;  width:40px;  background-color:#000;  float:left;  margin-right:10px}
#fwslider .progress{ height:4px;  width:0%;  background-color:#781a28;  float:left}
#fwslider .slide_content{ top:0;  left:0;  position:absolute;  width:100%;  height:100%}
#fwslider .slide_content_wrap{ max-width:1280px;position:absolute;bottom:0px; left:15px;}
#fwslider .title{  opacity:0;  color:#fff;   font-size:36px;  background:#ecf0f1;  padding:10px;  float:left; font-style:normal;  font-weight:400}
#fwslider .description{opacity:0;  color:#781a28;  font-size:18px; background:#ecf0f1;  padding:10px;  clear:both;  float:left;  margin-top:2px;  line-height:24px;  font-style:normal;  font-weight:400}
#fwslider .readmore{ opacity:0;  clear:both;  float:left;  text-transform:uppercase;  font-size:10px;  color:#919191;  background:#000;  padding:10px;  text-decoration:none;  margin-top:2px;  font-family:'Open Sans';  font-style:normal;  font-weight:400}
#fwslider .readmore:hover{ color:#fff}
#fwslider a{
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  
filter:alpha(opacity=100);  
-moz-opacity:1;  
-khtml-opacity:1;  
opacity:1; 
}
.notify{padding:5px 0; text-align:center}
.alert{background-color:#f9fafb; color:#dde9e9}
.notice{background-color:#f9fafb; color:#fdf7a9}
.success{background-color:#f9fafb; color:#badd7e}
.warning{background-color:#f9fafb; color:#fcb448}
.error{background-color:#f9fafb; color:#ff6567 !important}
</style>